[Desktop Entry]
Name=Add More Software
GenericName=Add More Software
Comment=Install, update and remove software packages
Comment[de]=Installieren, Aktualisieren und Entfernen von Softwarepaketen
Comment[es]=Instalar, actualizar y eliminar paquetes de software
Comment[fr]=Installe, met à jour et supprime les packages logiciels.
Comment[it]=Installa, aggiorna e rimuove pacchetti software
Comment[ja]=ソフトウエアパッケージをインストール、更新または削除します
Comment[ko]=소프트웨어 패키지를 설치, 업데이트 및 제거
Comment[pt_BR]=Instalar, atualizar e remover os pacotes de software
Comment[ru]=Установить, обновить или удалить программные пакеты
Comment[sv]=Installera, uppdatera och ta bort programpaket
Comment[zh_CN]=安装、更新和删除软件包
Comment[zh_HK]=安裝、更新與移除套裝軟體
Comment[zh_TW]=安裝、更新與移除套裝軟體
Exec=gksu /usr/bin/packagemanager
Icon=/usr/share/package-manager/PM_app_48x.png
Terminal=false
MultipleArgs=false
StartupNotify=true
Type=Application
Encoding=UTF-8
NoDisplay=true
Categories=PackageManager;Applications;GTK;System;Settings
NotShowIn=KDE
X-KDE-SubstituteUID=true
