[Desktop Entry]
Name=Services
Name[ar]=الخدمات
Name[az]=Xidmətlər
Name[bg]=Услуги
Name[bn]=পরিসেবা
Name[ca]=Serveis
Name[cs]=Služby
Name[cy]=Gwasanaethau
Name[da]=Tjenester
Name[de]=Dienste
Name[el]=Υπηρεσίες
Name[en_CA]=Services
Name[en_GB]=Services
Name[es]=Servicios
Name[et]=Teenused
Name[eu]=Zerbitzuak
Name[fi]=Palvelut
Name[fr]=Services
Name[gl]=Servizos
Name[gu]=સેવાઓ
Name[hi]=सेवाएँ
Name[hr]=Servisi
Name[hu]=Szolgáltatások
Name[id]=Layanan
Name[it]=Servizi
Name[ja]=サービスの管理
Name[ko]=서비스
Name[lt]=Paslaugų nustatymai
Name[mk]=Сервиси
Name[mn]=Үйлчилгээ
Name[ms]=Servis
Name[nb]=Tjenester
Name[ne]=सेवाहरु
Name[nl]=Services
Name[no]=Tjenester
Name[pa]=ਸੇਵਾਵਾਂ
Name[pl]=Usługi
Name[pt]=Serviços
Name[pt_BR]=Serviços
Name[ro]=Servicii
Name[ru]=Службы
Name[sk]=Služby
Name[sq]=Shërbimet
Name[sr]=Услужни програми
Name[sr@Latn]=Uslužni programi
Name[sv]=Tjänster
Name[ta]=சேவைகள்
Name[th]=บริการระบบ
Name[tr]=Hizmetler
Name[uk]=Служби
Name[vi]=Dịch vụ
Name[wa]=Siervices
Name[xh]=Iinkonzo
Name[zh_CN]=服务
Name[zh_HK]=服務
Name[zh_TW]=服務
# SUN_BRANDING
Comment=Start and stop daemons and system services
Comment[ar]=بدء وإطفاء المشغلات ونظام الخدمات
Comment[ca]=Iniciar o aturar els dimonis i serveis de sistema
Comment[cs]=Spustit a zastavit démony a systémové služby
Comment[de]=Starten und Stoppen von Dämonen und Systemdiensten
Comment[es]=Iniciar y detener servicios y daemons del sistema
Comment[fr]=Démarrer et arrêter les démons et les services système
Comment[hu]=Démonok és rendszer szolgáltatások indítása és leállítása
Comment[id]=Start dan Stop daemon dan servis sistem
Comment[it]=Avvia e arresta i daemon e servizi di sistema
Comment[ja]=デーモンとシステムサービスを起動および停止します
Comment[ko]=데몬 및 시스템 서비스를 시작하고 중지합니다.
Comment[nl]=Start and stop daemons and system services
Comment[pl]=Start and stop daemons and system services
Comment[pt_BR]=Iniciar e interromper os daemons e os serviços do sistema
Comment[ru]=Включение и отключение демонов и системных служб
Comment[zh_CN]=启动和停止守护进程和系统服务
Comment[zh_HK]=啟動及停止常駐程式與系統服務
Comment[zh_TW]=啟動及停止常駐程式與系統服務
Exec=/usr/lib/vp-services
Icon=/usr/share/gnome-system-tools/pixmaps/services.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;System;Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-system-tools
X-GNOME-Bugzilla-Component=runlevel-admin
X-GNOME-Bugzilla-Version=2.14.0
StartupNotify=true
Encoding=UTF-8
